03_Failure_Probability/Ausgabe_Monte_Carlo.txt
03_Failure_Probability/Ausgabe_Simson_1.txt
03_Failure_Probability/Ausgabe_Simson_2.txt
03_Failure_Probability/Ausgabe_Simson_3.txt
03_Failure_Probability/Eingabe_Monte_Carlo.txt
03_Failure_Probability/Eingabe_Simson_1.txt
03_Failure_Probability/Eingabe_Simson_2.txt
03_Failure_Probability/Eingabe_Simson_3.txt
03_Failure_Probability/WVF_Belastung_Simson_1.png
03_Failure_Probability/WVF_Belastung_Simson_2.png
03_Failure_Probability/WVF_Belastung_Simson_3.png
03_Failure_Probability/WVF_Material_Simson_1.png
03_Failure_Probability/WVF_Material_Simson_2.png
01_Tables/titanic3.csv
